$padding: 1rem;
.pluggable-list-view {
    .search-bar {
        display: flex;
        gap: $padding;
        margin-bottom: $padding;
    }
    ul {
        padding-left: 0;
        list-style: none;
        li {
            margin-bottom: $padding;
            &.clickable {
                cursor: pointer;
            }
        }
    }
}
