$padding: 1em;
.pluggable-list-view {
    ul {
        padding-left: 0;
        list-style: none;
        li {
            &.clickable {
                cursor: pointer;
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 1px;
                }
            }
        }
    }
}
